body {
    background-color: #F2F4F5;
    color: #1c1e21;
    direction: ltr;
    margin: 0;
}

.slogan {
    padding-right: 32px;
}

#container {
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    height: 520px;
    padding-bottom: 112px;
    padding-top: 72px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

body, button, input, label {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.fb_logo {
    width: 300px;
    height: 106px;
    margin: -28px;
}

h2 {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    width: 500px; 
    margin-bottom: 0;
}

.loginbox {
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
    width: 396px;
    height: 349px;
    margin: 40px;
    padding: 10px 0px 24px;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 5px;
    border: none;
}

input {
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border-radius: 6px;
    border: 1px solid #dadde1;
}

input:focus {
    outline: none;
    border-color: #1b74e4;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1b74e4;
}

input:focus::placeholder {
    color: #dadde1;
  }

.email {
    margin: 12px 0;
}

.pass {
    margin: 12px 0;
}

.login button{
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    font-weight: bold;
    background-color: #1877f2;
    color: white;
    width: 364px;
    font-size: 20px;
}

.login button:hover{
    background-color: #156bdc;
}

.forgot_pass {
    margin-top: 16px;
}

.forgot_pass a{
    text-decoration: none;
    color: #1877f2;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.forgot_pass a:hover {
    text-decoration: underline;
}

.create_new_account {
    padding-top: 6px;
}

.create_new_account button{
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    font-weight: bold;
    background-color: #42B72A;
    color: white;
    width: 197px;
}

.create_new_account button:hover{
    background-color: #3ca627;
}

.border_bottom {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

.create_a_page {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 14px;
}

.create_a_page a{
    text-decoration: none;
    font-weight: bold;
    color: #1C1E21;
}

.create_a_page a:hover {
    text-decoration: underline;
}

#footer {
    background-color: #fff;
}

.footer {
    padding-top: 20px;
    margin: 0 auto;
    color: #737373;
    width: 980px;
}


ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: baseline;
}

li {
    padding-left: 10px;
    flex-wrap: wrap;
}

.more_lang button{
    border-radius: 3px;
    border: 1px solid #dadde1;
    font-size: 18px;
    padding: 0 10px;
    color: #6A7180;
    font-weight: bold;
}

.more_lang button:hover{
    background-color: #F2F4F5;
}

.footer_break {
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
}

.copyright {
    padding: 15px 50px
}

@media (max-width: 900px) {
    #container {
        padding-bottom: 164px;
        padding-top: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer {
        width: auto;
    }

}